body {
  font-family: sans-serif;
}

h1 {
	color: #090909;
}

.topTitle {
  margin: 20px;
}

.input {
  margin-bottom: 30px;
}

.btn{
  margin-top: 3px;
  background: #639FDE;
  border-radius: 3px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 3px;
  text-decoration: none;
  text-align: center;
}

.btn:hover{
  background-color: #2380E2;
}

.jumbotron{
  padding: 15px;
	background-color: #dcdcdc;
	text-align: center;
	border-radius: 2px;
}

.angular-google-map-container { 
  height: 400px; 
  width: 400px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.driverCheckBox {
  margin: 5px;
}

.userMap {
  float: left;
  margin-left: 50px;
}

.userMapDiv {
  float: left;
  min-height:400px;
}

.nav {
  margin: 20px;
}

.nav a {
  text-decoration: none;
  margin-right: 20px;
  color: #090909;
  border-width: 2px;
  border-style: solid;
  border-color: #090909;
  padding: 3px;
  box-shadow: 0px 0px 5px #9999b9;
}

.input {
  font-size: 15px;
  width: 60;
  margin-bottom: 5px;
}
.container {
  overflow: auto;
}
.matchTitleBar {
  float: center;
  width: auto;
  text-align: center;
}
.messageDiv {
  float: right;
  margin-right: 50px;
  margin-bottom: 5px;
  min-width: 400px;
  background-color: white;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #090909;
  box-shadow: 0px 5px 5px #9999b9;
}
.username {
  margin-bottom: 3px;
}
.mapLink:hover {
  text-decoration: underline;
}
