body {
  font-family: sans-serif;
}

h3 {
  margin: 3px;
}

h1 {
	color: #090909;
}



.topTitle {
  margin: 20px;
}

.input {
  height: 34px;
  width: 50%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  text-align: center;
  margin-top: 10px;
  font-size:12px;
}

.btn{
  margin-top: 3px;
  background: #639FDE
;  border-radius: 3px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 3px;
  text-decoration: none;
  text-align: center;
}

.btn:hover{
  background-color: #2380E2;
}

.jumbotron{
  padding: 15px;
	background-color: #dcdcdc;
	text-align: center;
	border-radius: 2px;
}

.angular-google-map-container { 
  height: 400px; 
  width: 400px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.driverCheckBox {
  margin: 5px;
}

.userMap {
  float: left;
  margin-left: 50px;
}

.userMapDiv {
  float: left;
  min-height:400px;
}

.nav {
  margin: 20px;
}

.nav a {
  text-decoration: none;
  margin-right: 20px;
  color: #090909;
  border-width: 2px;
  border-style: solid;
  border-color: #090909;
  padding: 3p;x
  box-shadow: 0px 0px 5px #9999b9;
}


.container {
  overflow: auto;
}
.matchTitleBar {
  float: center;
  width: auto;
  text-align: center;
  margin-bottom: 10px
}
.messageDiv, .trip {
  float: right;
  margin-right: 50px;
  margin-bottom: 05px;
  width: 400px;
  background-color: white;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #090909;
  box-shadow: 0px 5px 5px #9999b9;
  margin-bottom:20px;
}
.username {
  margin-bottom: 3px;
}
.mapLink:hover {
  text-decoration: underline;
}

/* styling for top bar */


#cssmenu {
  background: #2C75FF;

  width: auto;
  /*margin-bottom: 13%;*/
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #F2E030;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #F2E030;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #F2E030;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

/*styling for login*/


* { 
  margin:0; padding:0
}

.add1 {
  margin:0 auto; width:720px
}

body {
  background:#BAB9B9; font-family: 'Source Sans Pro', sans-serif
} 

.form { 
  width:400px; margin:0 auto; background:#1C2B4A
}

.header { 
  height:60px; background:#17233B; margin-top:25%;
}

.header h2 { 
  height:44px; line-height:60px; color:#fff; text-align:center
}

.login { 
  padding:0 20px
}

.login span.un {
  width:10%; text-align:center; color:#0C6; border-radius:3px 0 0 3px
}

.text {
  background:#12192C; width:90%; border-radius:0 3px 3px 0; border:none; outline:none; color:#999; font-family: 'Source Sans Pro', sans-serif
} 

.text,.login span.un {
  display:inline-block; vertical-align:top; height:40px; line-height:40px; background:#12192C;
}

.entrybtn {
  height:40px; border:none; background:#0C6; width:100%; outline:none; font-family: 'Source Sans Pro', sans-serif; font-size:20px; font-weight:bold; color:#eee; border-bottom:solid 3px #093; border-radius:3px; cursor:pointer
}

ul li {
  height:40px; margin:15px 0; list-style:none
}

.span {
  display:table; width:100%; font-size:14px;
}

.ch {
  display:inline-block; width:50%; color:#CCC
}

.ch a {
  color:#CCC; text-decoration:none
}

.ch:nth-child(2) {
  text-align:right
}

/*bottom*/
.sign {
  width:90%; padding:0 5%; height:50px; display:table; background:#17233B
}

.sign div{
  display:inline-block; width:50%; line-height:50px; color:#ccc; font-size:14px
}

.up {
  text-align:right
}

.up a {
  display:block; background:#096; text-align:center; height:35px; line-height:35px; width:50%; font-size:16px; text-decoration:none; color:#eee; border-bottom:solid 3px #006633; border-radius:3px; font-weight:bold; margin-left:50%
}

@media(max-width:480px){ .form{width:100%}}

.links {
  width:400px; margin:0 auto; height:50px
}

.links a {
  display:block; float:left; height:40px; line-height:40px; padding:0 20px; background:#fff; text-decoration:none; margin-left:5px; font-size:16px; font-weight:bold; color:#09F}


/*Styling for main*/




}
.Content
{
    position: relative;
    z-index: 1;
}
   

.Wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}
    .Wrapper > div
    {
        height: 100%;
    }

.LeftContent
{
        overflow: auto;
        margin-top: 7%;
}

.RightContent
{
    
    float: right;
    margin-left: 10px;
    margin-right: 10%;
    margin-top:9%;
}

.spantag {
  padding-top:5px;
  margin-top: 10px;
}


.maptrip {
    float: right;
  margin-right: 50px;
  margin-bottom: 05px;
  width: 400px;
  background-color: white;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #090909;
  box-shadow: 0px 5px 5px #9999b9;
  margin-left:80px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.mapbtn{
  margin-top: 3px;
  background: #639FDE;  
  border-radius: 3px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 3px;
  text-decoration: none;
  text-align: center;
  margin-top:10px;
  margin-bottom: 10px
}

#startSearchBox {
  margin-bottom:5px;
  margin-top:5px;
}


#endSearchBox {
  margin-bottom: 10px;
}

.editinput {
  height: 25px;
  width: 20%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #DDD;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
  text-align: center;
  margin-top: 10px;
  font-size:12px;
  margin-bottom: 10px
}

#logged {
  text-align: center;
  font-size: 20px;
  font-style: bold;
}