

<div class="form" ng-controller ='LoginController'>
<div class="header"><h2>Sign In</h2></div>
<div class="login">
<form action="" ng-submit='submit()'>
<ul>
<li>
<span class="un"><i class="fa fa-user"></i></span><input ng-model='user.username'type="text" required class="text" placeholder="User Name Or Email"/></li>
<li>
<span class="un"><i class="fa fa-lock"></i></span><input ng-model='user.password' type="password" required class="text" placeholder="User Password"/></li>
<li>
<input type="submit" value="LOGIN" class="entrybtn" ng-sumbit = 'submit()'>
</li>
<li><div class="span"><span class="ch"><input type="checkbox" id="r"> <label for="r">Remember Me</label> </span> <span class="ch"><a href="#">Forgot Password?</a></span></div></li>
</ul>
</form>
</div><br/>
<div class="sign">
<div class="need">Need new account ?</div>
<div class="up"><a href="#/signup">Sign Up</a></div>
</div>
</div>


