<div class='jumbotron' ng-controller="MailboxController">
  <h1>{{header}}</h1>
  <div class='mailbox'>
  <div class='sendNewMessage'>
  <h2>Send a new Message!</h2>
  <form ng-submit='sendMessage()'>
  <input type='text' placeholder='recipient' ng-model='newMessage.to_id'/>
  <input type='text' placeholder='message' ng-model='newMessage.text' />
  <input type='submit' value='Send New Message'>
  </form>
  </div>
  <h2> Inbox</h2>
  <div class='message' ng-repeat="msg in messages">
  <span class='sender'>FROM: {{msg.from_id}}</span>
  <p class='message'>{{msg.text}}</p>
  <input type='text' placeholder='Type your reply here' ng-model="msg.replytext"/>
  <input type='submit' value='Reply' ng-click='reply(msg)'/>
  <input type='submit' value="Delete" ng-click='delMessage(msg)'/>
  </div>
</div>