<div class="jumbotron" ng-controller="MainController">
  <h1>{{welcome}}</h1>
  <div class ='Content'>
    <div class = "Wrapper">
      <div class = "RightContent">
        <div class='container'>
            <div class='userMapDiv'>
              <ui-gmap-google-map class='userMap' center="map.center" zoom="map.zoom" control="map.control"> 
              </ui-gmap-google-map>
          </div>
      </div>
      </div>
      <div class = "LeftContent">
       <div class='trip' ng-repeat='trip in trips'>
          <h3>{{ trip.tripName }}</h3>
          <button class='entrybtn' ng-click='getMatches(trip.tripName,trip.driver)'>Find Matches</button>
          <button class='entrybtn' ng-click='showMap($index)'>Show on Map</button>
          <p>You're the {{ trip.driver }} for this trip</p>
           <p>{{ trip.matched }}</p>
           <p>start: {{ trip.startAddress || trip.startPoint }}</p>
           <p>end: {{ trip.endAddress || trip.endPoint }}</p>
    </div>
  </div>
</div>


