  <script type="text/ng-template" id="startSearchBox.tpl.html">
    <input type="text" placeholder="Starting Point" size=40 ng-model='$scope.startPointString'>
  </script> 
  <script type="text/ng-template" id="endSearchBox.tpl.html">
    <input type="text" placeholder="End Point" size=40 ng-model='$scope.endPointString'>
  </script> 

<div class="jumbotron" ng-controller="MapviewController">
  <h1>{{welcome}}</h1>
  <div id="startSearchBox">
  </div>
  <div id="endSearchBox">
  </div>
  <div id="driverCheckBox">
  <span>Driver</span>
  <input type="checkbox" ng-model="isDriver" ng-change="submitPoints()"></input>
  </div>
  <input type='submit' id="pointsSubmit" ng-click="saveInfo()" text='Submit'>
  <ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control">
  <ui-gmap-search-box parentdiv="'startSearchBox'" options="autocomplete" template="startSearchBox.template" events="startSearchBox.events"></ui-gmap-search-box>
  <ui-gmap-search-box parentdiv="'endSearchBox'" options="autocomplete" template="endSearchBox.template" events="endSearchBox.events"></ui-gmap-search-box>
  </ui-gmap-google-map> </div> 
</div>
