  <script type="text/ng-template" id="startSearchBox.tpl.html">
    <input class='input' type="text" placeholder="Starting Point" size=40 ng-model='startPointString'>
  </script> 
  <script type="text/ng-template" id="endSearchBox.tpl.html">
    <input class='input' type="text" placeholder="End Point" size=40 ng-model='endPointString'>
  </script> 

<div class="jumbotron" ng-controller="MapviewController">
  <h1>{{welcome}}</h1>
  <input class='input' type="text" ng-show='fields[0]' placeholder="Trip Name" size=40 ng-model='tripName'>
  <div id="startSearchBox"  ng-show='fields[0]'>
  </div>
  <div id="endSearchBox"  ng-show='fields[0]'>
  </div>
  <div id="driverCheckBox" ng-show='fields[0]'>
  <span>Driver</span>
  <input type="checkbox" ng-model="isDriver" ng-change="submitPoints()" placeholder='isDriver' ng-true-value='true' ng-false-value='false'></input>
  </div>
 <!--  <input class='input' type="text" ng-show='fields[1]' placeholder="Earliest Start Time" size=40 ng-model='startTimes[0]'> -->
 <div class= 'maptrip' ng-show='fields[1]'>
  <h3>Return time</h3>
  <select ng-show='fields[1]' ng-model='startTimes[1]' placeholder="TOD">
    <option value="" disabled selected>Hour</option>
    <option value='1'>1</option>
    <option value='2'>2</option>
    <option value='3'>3</option>
    <option value='4'>4</option>
    <option value='5'>5</option>
    <option value='6'>6</option>
    <option value='7'>7</option>
    <option value='8'>8</option>
    <option value='9'>9</option>
    <option value='10'>10</option>
    <option value='11'>11</option>
    <option value='12'>12</option>
  </select>

  <select ng-show='fields[1]' ng-model='startTimes[1]' placeholder="TOD">
    <option value="" disabled selected>Minutes</option>
    <option value='0'>:00</option>
    <option value='15'>:15</option>
    <option value='30'>:30</option>
    <option value='45'>:45</option>
  </select>

  <select ng-show='fields[1]' ng-model='startTimes[1]' placeholder="TOD">
    <option value="" disabled selected>AM/PM</option>
    <option value='am'>am</option>
    <option value='pm'>pm</option>
  </select>
  </div>
 <div class= 'maptrip' ng-show='fields[1]'>
  <h3>Starting time</h3>
  <select ng-show='fields[1]' ng-model='startTimes[1]' placeholder="TOD">
    <option value="" disabled selected>Hour</option>
    <option value='1'>1</option>
    <option value='2'>2</option>
    <option value='3'>3</option>
    <option value='4'>4</option>
    <option value='5'>5</option>
    <option value='6'>6</option>
    <option value='7'>7</option>
    <option value='8'>8</option>
    <option value='9'>9</option>
    <option value='10'>10</option>
    <option value='11'>11</option>
    <option value='12'>12</option>
  </select>

  <select ng-show='fields[1]' ng-model='startTimes[1]' placeholder="TOD">
    <option value="" disabled selected>Minutes</option>
    <option value='0'>:00</option>
    <option value='15'>:15</option>
    <option value='30'>:30</option>
    <option value='45'>:45</option>
  </select>

  <select ng-show='fields[1]' ng-model='startTimes[1]' placeholder="TOD">
    <option value="" disabled selected>AM/PM</option>
    <option value='am'>am</option>
    <option value='pm'>pm</option>
  </select>
  </div>

  <button class = 'mapbtn' id="next" ng-show='fields[0]' ng-click="changeFields('next')" text='Submit'>Create</button></br>
  <button id="previous" class ="mapbtn" ng-show='fields[1]' ng-click="changeFields('prev')" text='Submit'>Previous</button>
  <button id="submit" class ="btn" ng-show='fields[1]' ng-click="saveInfo()">Submit</button>


  <h2 ng-show='fields[2]'>Your Trip Has Been Submitted!</h2>
  <button id="main" ng-show='fields[2]' ng-click="seeTrips()" text='Submit'>See Trips</button>
  
  <h3>{{changed}}</h3>
  <ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control">
  <ui-gmap-search-box parentdiv="'startSearchBox'" options="autocomplete" template="startSearchBox.template" events="startSearchBox.events"></ui-gmap-search-box>
  <ui-gmap-search-box parentdiv="'endSearchBox'" options="autocomplete" template="endSearchBox.template" events="endSearchBox.events"></ui-gmap-search-box>
  </ui-gmap-google-map> </div> 
</div>
