<div class='jumbotron' ng-controller="ProfileController">
  <h1>{{header}}</h1>
  <h3>{{saved}}</h3>
  <form ng-submit='submit()'>
  <div class='profileInfo' align="left">
  <span>Username: {{user.username}}</span>
  <br>
  <br>

  <span>Old Password: </span>
  <input class="editinput" type='password' placeholder='Password' ng-model='user.password' />
  <span>New Password: </span>
  <input class="editinput" type='password' placeholder='Password' ng-model='user.password' />

  <button class='btn' id = 'passwordbutton' type='submit'>{{buttonText}}</button>
  </form>
</div>