

<div class="form" ng-controller ='SignupController'>
<div class="header"><h2>Sign Up</h2></div>
<div class="login">
<form action="" ng-submit='submit()'>
<ul>
<li>
<span class="un"><i class="fa fa-user"></i></span><input ng-model='user.username'type="text" required class="text" placeholder="User Name Or Email"/></li>
<li>
<span class="un"><i class="fa fa-lock"></i></span><input ng-model='user.password' type="password" required class="text" placeholder="User Password"/></li>
<li>
<input type="submit" value="SIGN UP" class="entrybtn" ng-sumbit = 'submit()'>
</li>
<li><div class="span"><span class="ch"><input type="checkbox" id="r"> <label for="r">Remember Me</label> </span> <span class="ch"></span></div></li>
</ul>
</form>
</div><br/>
<div class="sign">
<div class="need">Already have an account ?</div>
<div class="up"><a href="#/login">Sign in</a></div>
</div>
</div>

